body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

section {
  margin: 2em 0;
}
.page-link {
  margin: 1em 2em;
}

.survey-page-header,
.survey-page-header .sv_main {
  background-color: #e7e7e7;
}

.survey-page-header-content {
  max-width: 80%;
  margin: auto;
  padding: 1.5em;
}

.survey-page-header-content a {
  color: white;
  text-decoration: unset;
}

.sv_main.sv_frame .sv_container .sv_header {
  padding-top: 2em;
}

.svd_container .sv_custom_header {
  display: none;
}

.sv_main.sv_frame .svd_container .sv_container {
  max-width: none;
  padding: unset;
}

.surveys-list table thead td {
  font-weight: bold;
}

.surveys-list table td:nth-child(2) {
  width: 50%;
}

.sv_button_link {
  color: #1ab394;
  width: 100px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
}

.sv_button_link:hover,
.sv_button_link:visited:hover {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
}

.sv_button_link:visited {
  color: #1ab394;
}

.sv_button_link.sv_button_delete {
  color: #ec2626;
}

.sv_button_link.sv_button_delete:hover {
  background-color: #ec2626;
  color: #fff;
}

#resultsTable td {
  cursor: pointer;
}

.sv_body {
  overflow: scroll;
}

.fork_me_on_github img {
  z-index: 1;
}

.rounded-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 155px;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  background-color: #1ab394;
  padding: 0 2em;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border: none;
  display: inline-block;
  cursor: pointer;
  outline: none; 
}

.sa-table .rounded-button {
  background-color: #1ab394;
  margin-right: 50px; 
}

.results-page {
  font-family:"Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
}

.results-page__title {
  height:79px;
  position:relative;
  max-width: 80%;
}

.results-page__title h3 {
  font-size:28px;
  font-weight: 300;
}

.results-page__centered {
  max-width: 80%;
  margin: auto;
}

.results-page__tabs {
  padding-left: 0;
}

.results-page__tab {
  display: inline-block;
  margin-right: -.25em;
  margin-left: -2px;
  padding: 0;
}

.results-page__tab a {
  padding: .83em 1.5em;
  border: 1px solid #e7e7e7;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #404040;
  text-decoration: none;
}

.results-page__tab--active a {
  background-color: #f7f7f7;
}